body {
    background: rgba(0, 0, 0, 0.05);
}

form {
    margin: 20px;
}

.container {
    max-width: 645px;
    background: white;
    margin: 3% auto;
    box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
    border-top: solid 6px #fad312;
    padding: 64px 32px;
}

.required:after {
    content: ' *';
    color: red;
}

label {
    display: block;
    margin-top: 12px;
}

.form-title-misc {
    font-size: 15px;
    color: red;
}

.form-title {
    margin: 0;
}

.form-title-main {
    font-size: 36px;
    font-weight: bold;
}

.form-title-sub {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px
}

.form-input {
    margin-top: 32px;
    padding-bottom: 16px;
    font-size: 20px;
}

.form-title-submit {
    border: none;
    margin-top: 0;
    width: 102px;
    height: 45px;
    color: black;
    font-size: 15px;
    text-align: center;
    background: #fad312;
    border-radius: 3px;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

label {
    width: 50%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

footer {
    color: #999;
    font-size: 13px;
    text-align: center;
    background: #000;
    margin: 66px 0 0;
    padding: 26px 12px;
}

.hidden .input-error {
    display: none
}

.input-error {
    font-size: 15px;
    color: red;
    position: absolute
}

@media(max-width: 768px) {
    .form-title-main {
        font-size: 24px;
        font-weight: bold;
    }
}